table {
   border-collapse: separate;
   border-spacing: 5px;
   
   border: 1px solid #000;
}


th, td {
   padding: 5px 10px;
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid rebeccapurple;
}


h1{
   text-align: center ;
}


.centrar{
  margin:auto;
  display:block;
  width: 600px;
  height: 600px;
  border: 5px  solid red;
}


body{

   margin: 0;
    font-family: verdana;

}

header{

   background: purple;
   color: white;
   padding: 1px;
}

main{
   padding: 1em 2em;
}

@media (max-width: 30em) {
  table tr{
   display: flex;
   flex-direction: column;
   border:1px solid gray;
   padding: 1e;
   margin-bottom: 1em;

  }

  table td[data-title]{
   display: flex;
  }

  table td[data-title]::before{
   content: attr(data-title);
   width: 90px;
   font-weight: bold;
  }
   
}