


th, td {
   width: 25%;
   text-align: left;
   vertical-align: top;
   border: 1px solid rebeccapurple;
}


h1 {
   animation-duration: 3s;
   animation-name: slidein;
 }

table {
   border-collapse: separate;
   border-spacing: 5px;
   
   border: 1px solid #000;
   animation-duration: 3s;
   animation-name: slidein;
 }
 
 @keyframes slidein {
   from {
     margin-left: 100%;
     width: 300%
   }
 
   to {
     margin-left: 0%;
     width: 100%;
   }
 }