
@font-face {
    font-family: 'Monoton';
    font-style: normal;
    font-weight: 400;
    src: local('Monoton'), local('Monoton-Regular'), url(http://themes.googleusercontent.com/static/fonts/monoton/v4/AKI-lyzyNHXByGHeOcds_w.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    src: local('Iceland'), local('Iceland-Regular'), url(http://themes.googleusercontent.com/static/fonts/iceland/v3/F6LYTZLHrG9BNYXRjU7RSw.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: local('Audiowide'), local('Audiowide-Regular'), url(http://themes.googleusercontent.com/static/fonts/audiowide/v2/8XtYtNKEyyZh481XVWfVOj8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
  }
  
  @font-face {
    font-family: 'Vampiro One';
    font-style: normal;
    font-weight: 400;
    src: local('Vampiro One'), local('VampiroOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/vampiroone/v3/Ho2Xld8UbQyBA8XLxF1_NYbN6UDyHWBl620a-IRfuBk.woff) format('woff');
  }
  
  body{
    background-color: #222222;
  }
  /*neon effect*/
  h2{
    text-align:center;
    font-size:3em;
    margin:20px 0 20px 0;
  }

  h1{
    text-align:center;
    font-size:3em;
    margin:20px 0 20px 0;
    color:#ffffff;
  }
  
  a{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  h2:nth-child(1) a{
    color:#FF1177;
    font-family:Monoton;
  }
  h2:nth-child(1) a:hover{
    -webkit-animation: neon1 1.5s ease-in-out infinite alternate;
    -moz-animation: neon1 1.5s ease-in-out infinite alternate;
    animation: neon1 1.5s ease-in-out infinite alternate;
  }
  
  h2:nth-child(2) a{
    font-size:1.5em;
    color:#228DFF;
    font-family:Iceland;
  }
  h2:nth-child(2) a:hover{
    -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
    -moz-animation: neon2 1.5s ease-in-out infinite alternate;
    animation: neon2 1.5s ease-in-out infinite alternate;
  }
  
  h2:nth-child(3) a{
    color:#FFDD1B;
    font-family:Audiowide;
  }
  h2:nth-child(3) a:hover{
    -webkit-animation: neon3 1.5s ease-in-out infinite alternate;
    -moz-animation: neon3 1.5s ease-in-out infinite alternate;
    animation: neon3 1.5s ease-in-out infinite alternate;
  }
  
  h2:nth-child(4) a{
    color:#FF9900;
    font-family:Pacifico;
  }
  h2:nth-child(4) a:hover{
    -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
    -moz-animation: neon4 1.5s ease-in-out infinite alternate;
    animation: neon4 1.5s ease-in-out infinite alternate;
  }
  
  h2:nth-child(5) a{
    color:#BA01FF;
    font-family:Vampiro One;
  }
  h2:nth-child(5) a:hover{
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
  }
  
  p a:hover{
  color:#ffffff;
  }
  
 
  .carousel-inner img {

      height: 80%;
  }

img{
  border-radius: 55px 55px 55px 55px;
   
}

p{
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  font-family: monospace;
  text-transform: capitalize;
  letter-spacing: 4px;
  color: #b80935;
  text-align:center;
  word-spacing: 8px
}

h5{
  font-size: 45px;
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 6px;
  color: #4416c4;
  
}

.movimiento {
  display: flex;
/*   border:1px solid red; */
  height: 20%;
  align-items: center;
}

svg {
    display: block;
    font: 6em 'Montserrat';
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #d400ff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #d400ff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ffffff;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #ffffff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #d400ff;
	animation-delay: -5s;
}
.text-copy:nth-child(6){
	stroke: #ffffff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}