
  
  body{
    background-color: #222222;
  }
  /*neon effect*/
  h2{
    text-align:center;
    font-size:2em;
    margin:20px 0 20px 0;
  }

  h1{
    text-align:center;
    font-size:3em;
    margin:20px 0 20px 0;
    color:#ffffff;
  }
  
  a{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  
  p a:hover{
  color:#ffffff;
  }
  
 
  .carousel-inner img {

      height: 80%;
  }

img{
  border-radius: 55px 55px 55px 55px;
   
}

p{
  font-size: 1.5em;
  font-weight: bold;
  font-style: italic;
  font-variant: small-caps;
  font-family: monospace;
  text-transform: capitalize;
  letter-spacing: 0.1px;
  color: #b80935;
  text-align:center;
  word-spacing: 2px
}

h5{
  font-size: 2em;
  font-family: Roboto;
  font-weight: bold;
  font-style: italic;
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 0.1px;
  color: #4416c4;
  
}

.movimiento {
  display: flex;
/*   border:1px solid red; */
  height: 20%;
  align-items: center;
}

svg {
    display: block;
    font: 6em 'Montserrat';
    width: 1300px;
    height: 500px;
    margin: 0 auto;
}

.text-copy {
    fill: none;
    stroke: rgb(255, 255, 255);
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #d400ff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #d400ff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #ffffff;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #ffffff;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #d400ff;
	animation-delay: -5s;
}
.text-copy:nth-child(6){
	stroke: #ffffff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}