
	body{
		background: linear-gradient(rgba(104, 95, 92, 0.65), rgba(104, 95, 92, 0.65)), url("../imgs/formularios.jpg");
		font-size: 62.5%;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
	   
	}


 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    border: 1px solid rebeccapurple;
 }


 h1{
    text-align: center
    
 }



 img {
   margin: auto;
   display: block;
   }