<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Prueba con Django</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'styles/style.css' %}">


</head>
<body>



	<header class="main-head">
		<nav class="main">
			<h1 id="logo">BIENVENIDO</h1>
			<ul>

				{% if request.user.is_authenticated %}
				<li><a href="{% url 'logout' %}">Logout</a></li>
				{% else %}
				<li><a href="{% url 'registro' %}">Register</a></li>
				<li><a href="{% url 'login' %}">Login</a></li>
				{% endif %}
				
				
			</ul>
		</nav>
	</header>


	
	

	<!-------------------------------------
					Navigation Bar 
	-------------------------------------->
	<div class="main">
		
		<nav class="second-nav">
		{% if request.user.is_authenticated %}
		{% if user.is_superuser == True  %}

		
		<a class="feed" href="{% url 'feed' %}">Inicio</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		<a class="home" href="{% url 'home' %}">Tiendita</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		
		<a class="datos" href="{% url 'contactosregistro' %}">Llenar datos</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		<a href="{% url 'consultas' %}">Consultas</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		<a href="{% url 'consultarc' %}">Consultar Correo</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		{% else %}


		
			
	
		
		<a class="home" href="{% url 'feed' %}">Inicio</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;

	


		<a class="home" href="{% url 'home' %}">Tienda</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;

		

		<a class="home" href="{% url 'perfil' %}">Perfil</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;

		

		<a class="correo" href="{% url 'mandarcorreo' %}">Contactanos</a>
		&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp;
		
		{% endif %}

         {% else %}


        {% endif %}
		

			<!-- <a class="new" href="{% url 'pruebita' %}">Prueba</a> -->
			
			
			
			
		</nav>


		{% block content %}

		{% endblock content %}



	</div>

	<footer>


		
		 <div class="row">
			
			{% if request.user.is_authenticated %}



			<h1>Ya estas logeado :) </h1>
			{% else %}

			<h1 color: red>DEBES DE LOGEARTE PARA ACCEDER </h1>
			
			{% endif %} 


				{% if messages %}
	<div class="alert
	 {% if request.user.is_authenticated %}alert-success{% else %}alert-info{% endif %}">
		{% for message in messages %}
			{{ message }}
		{% endfor %}
	</div>
	{% endif %}



		</div>



	</footer>

	<style>
		.alert-success {
			background-color: #4CAF50; /* Verde */
			color: white;
		}
		
		.alert-info {
			background-color: red; /* Azul */
			color: white;
			font-size: 30px;
		}
	</style>

</body>
</html>