<!DOCTYPE html>
<html lang="en">
<head>


    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    
     Hola {{nombreusuario}}, esté es un detalle de tu compra<br>
     Nº de pedido: {{pedido.id}}<br>
     {{  total_pedido }}<br>
     Email del usuario: {{email_usuario}}<br>
     <br>
     <br>
     {% for linea_pedido in lineas_pedido %}
     <p>{{ linea_pedido }}</p>
     <br> <!-- Agregar un salto de línea después de cada artículo -->
    {% endfor %}
     
    <br> 
    <hr>
    {{  total_pedido }}
    
    
	

</body>
</html>

