{% extends 'social/feed.html' %}

{% load humanize %} 
{% block content %}
{% load static %}



{% if messages %}
<div class="alert{% if request.user.is_authenticated %} alert-success{% else %} alert-info{% endif %}">
    <center>
    <ul class="custom-message">
        {% for message in messages %}
            <li>{{ message }}</li> <br>
        {% endfor %}
    </ul>
    </center>
</div>
{% endif %}


<!-- Profile -->
<div class="profile">

	<img src="{{ user.profile.image.url }}"> 
	<h2 class="username">@{{ user.username }}</h2>
	<br>
	<h2 class="username">{{ user.email }}</h2>
	<br>
	
	{% if datos %}
    <h2 class="username">Dirección Actual: {{ datos.direccion }}</h2> <br>
    <h2 class="username">Telefono Actual: {{ datos.telefono }}</h2> <br>
	{% else %}
	<div class="post">No hay datos disponibles.</div>
{% endif %}

	<br>
	
	
		<button><a class="follow-button" href="{% url 'comentarios' %}">Post</a></button>
		<br>
		
		<button><a class="follow-button" href="{% url 'actualizar_perfil' %}">Actualizar datos  </a></button>
		<br><br><br>
		<br><br>
		<style>
			h1 {
				text-shadow: 7px 4px 5px blue;
			}
		</style>
		
		<h1>HISTORIAL DE MODIFICACIONES </h1>
	
		<div class="post">*Solo apareceran los datos que sufrierón alguna alteración*</div>
</div>

<div class="follow"></div>
<!-- Mostrar el historial de modificaciones -->
<div class="profile">
    {% for modificacion in modificaciones %}
    <article>
        <div class="container-article">
            {% if modificacion.imagen_anterior %}
                <img src="{{ modificacion.imagen_anterior.url }}">
            {% endif %}
            <div>
                <h2 class="username"="#">{{ modificacion.timestamp_modificacion}}</h2> <br>


				{% if modificacion.username_anterior != modificacion.datos.user.username%}
				<div class="post"> Usuario anterior: {{ modificacion.username_anterior }}---> Usuario Actualizado: {{ modificacion.datos.user.username}}</div>
			{% endif %}

			<i class="clock"></i>


			{% if modificacion.email_anterior != modificacion.datos.user.email %}
				<div class="post"> Email anterior: {{ modificacion.email_anterior }}---> Email Actualizado: {{ modificacion.datos.user.email }}</div>
			{% endif %}

                <i class="clock"></i>

                {% if modificacion.direccion_anterior != modificacion.datos.direccion %}
                    <div class="post">Direccion anterior: {{ modificacion.direccion_anterior }}---> Direccion Actualizada: {{ modificacion.datos.direccion }}</div>
                {% endif %}

                {% if modificacion.telefono_anterior != modificacion.datos.telefono %}
                    <div class="post">Telefono anterior: {{ modificacion.telefono_anterior }}---> Telefono Actualizado: {{ modificacion.datos.telefono }}</div>
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
    <br><br><br>
</div>
	<!--<div>
		<h5>Post</h5>
		
	</div>
	<div>
		<h5>Followers</h5>
		

	</div>
	<div>
		<h5>Following</h5>
	
	</div>-->
</div>

{% include 'social/paginacion_historial.html' %}


<style>
	.custom-message li {
		font-size: 20px; /* Ajusta el tamaño de fuente según tus preferencias */
	}
</style>
{{ block.super }}
{% endblock %}